In [2]:
import numpy as np
import pandas as pd
from datetime import datetime
import json

import requests

In [3]:
df = pd.read_csv('clean_data1.csv')

In [4]:
df.to_html('clean_data.html')

#                                   DIFFERENT DATASET

In [54]:
file = pd.read_csv('database.csv')

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/02/1965,13:44:18,19.246,145.616,Earthquake,131.6,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.863,127.352,Earthquake,80.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.579,-173.972,Earthquake,20.0,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.076,-23.557,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.938,126.427,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic

In [ ]:
dataset = file[['Date','Time','Latitude','Longitude', 'Type','Depth','Magnitude']]

In [ ]:
dataset.head()

In [ ]:
dataset['Type'].unique()

In [ ]:
dataset.info()

In [ ]:
# to find null values
dataset.isnull().sum()

In [ ]:
dataset['Date'] = pd.to_datetime(dataset['Date'], utc=True)

In [ ]:
dataset.dtypes

In [ ]:
datasets = dataset.loc[dataset['Date'] >= '01-01-2000']

In [ ]:
datasets.shape

In [ ]:
def get_year(x):
    return x.year
def get_month(x):
    return x.month

In [ ]:
datasets['Year'] = datasets['Date'].map(get_year)

In [ ]:
#datasets['Year'].unique

In [ ]:
datasets['Month'] = datasets['Date'].map(get_month)

In [ ]:
#datasets.head()

In [ ]:
del datasets['Date']

In [ ]:
datasets.head()

In [ ]:
del datasets['Time']

In [ ]:
datasets.head()

In [ ]:
datasets.to_csv('EarthQuake1.csv', index=False)

In [ ]:
from sqlalchemy import create_engine

# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base

# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float, ARRAY

In [ ]:
datasets.columns

In [ ]:
Base = declarative_base()
class EarthQuakes(Base):
    __tablename__ = 'EarthQuakes'
    id = Column(Integer, primary_key=True , autoincrement=True)
    Latitude = Column(Float)
    Longitude = Column(Float)
    Type = Column(String(255))
    Depth = Column(Float)
    Magnitude = Column(Float)
    Year = Column(Integer)
    Month = Column(Integer)

In [ ]:
engine = create_engine("postgresql://postgres:Helene@localhost:2903/project4")
conn = engine.connect()

In [ ]:
Base.metadata.drop_all(engine)
Base.metadata.create_all(engine)

In [ ]:
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [ ]:
Earthquake = datasets.to_dict('records')

In [ ]:
Earthquake

In [ ]:
for data in Earthquake:
    info = Earthquake[(id=int(id),Latitude=data['Latitude'], Longitude=data['Longitude'], Type=data['Type'],
                  Depth=datasets['Depth'], Magnitude=datasets['Magnitude'],
                   Year=data['Year'], Month=data['Month'])]
    session.add(info)
    
session.commit()