In [1]:
import pandas as pd

In [14]:
file1 = pd.read_csv("2015Earthquakes/query (1).csv")
file2 = pd.read_csv("2015Earthquakes/query (2).csv")
file3 = pd.read_csv("2015Earthquakes/query (3).csv")
file4 = pd.read_csv("2015Earthquakes/query (4).csv")
file5 = pd.read_csv("2015Earthquakes/query (4).csv")
file6 = pd.read_csv("2015Earthquakes/query (6).csv")
file7 = pd.read_csv("2015Earthquakes/query (7).csv")
file8 = pd.read_csv("2015Earthquakes/query (8).csv")
file9 = pd.read_csv("2015Earthquakes/query (9).csv")
file10 = pd.read_csv("2015Earthquakes/query (10).csv")
file11 = pd.read_csv("2015Earthquakes/query (11).csv")
file12 = pd.read_csv("2015Earthquakes/query (12).csv")

In [16]:
file11.columns

Index(['time', 'latitude', 'longitude', 'depth', 'mag', 'magType', 'nst',
       'gap', 'dmin', 'rms', 'net', 'id', 'updated', 'place', 'type',
       'horizontalError', 'depthError', 'magError', 'magNst', 'status',
       'locationSource', 'magSource'],
      dtype='object')

In [17]:
new_data = pd.concat([file1,file2,file3,file4,file5,file6,file7,file8,file9,file10,file11,file12])

In [23]:
file1 = pd.read_csv("2016Earthquakes/query (1).csv")
file2 = pd.read_csv("2016Earthquakes/query (2).csv")
file3 = pd.read_csv("2016Earthquakes/query (3).csv")
file4 = pd.read_csv("2016Earthquakes/query (4).csv")
file5 = pd.read_csv("2016Earthquakes/query (4).csv")
file6 = pd.read_csv("2016Earthquakes/query (6).csv")
file7 = pd.read_csv("2016Earthquakes/query (7).csv")
file8 = pd.read_csv("2016Earthquakes/query (8).csv")
file9 = pd.read_csv("2016Earthquakes/query (9).csv")
file10 = pd.read_csv("2016Earthquakes/query (10).csv")
file11 = pd.read_csv("2016Earthquakes/query (11).csv")
file12 = pd.read_csv("2016Earthquakes/query (12).csv")

In [24]:
new_data_2016 = pd.concat([file1,file2,file3,file4,file5,file6,file7,file8,file9,file10,file11,file12])

In [28]:
file1 = pd.read_csv("2017Earthquakes/query (1).csv")
file2 = pd.read_csv("2017Earthquakes/query (2).csv")
file3 = pd.read_csv("2017Earthquakes/query (3).csv")
file4 = pd.read_csv("2017Earthquakes/query (4).csv")
file5 = pd.read_csv("2017Earthquakes/query (4).csv")
file6 = pd.read_csv("2017Earthquakes/query (6).csv")
file7 = pd.read_csv("2017Earthquakes/query (7).csv")
file8 = pd.read_csv("2017Earthquakes/query (8).csv")
file9 = pd.read_csv("2017Earthquakes/query (9).csv")
file10 = pd.read_csv("2017Earthquakes/query (10).csv")
file11 = pd.read_csv("2017Earthquakes/query (11).csv")
file12 = pd.read_csv("2017Earthquakes/query (12).csv")

In [29]:
new_data_2017 = pd.concat([file1,file2,file3,file4,file5,file6,file7,file8,file9,file10,file11,file12])

In [31]:
file1 = pd.read_csv("2018Earthquakes/query (1).csv")
file2 = pd.read_csv("2018Earthquakes/query (2).csv")
file3 = pd.read_csv("2018Earthquakes/query (3).csv")
file4 = pd.read_csv("2018Earthquakes/query (4).csv")
file5 = pd.read_csv("2018Earthquakes/query (4).csv")
file6 = pd.read_csv("2018Earthquakes/query (6).csv")
file7 = pd.read_csv("2018Earthquakes/query (7).csv")
file8 = pd.read_csv("2018Earthquakes/query (8).csv")
file9 = pd.read_csv("2018Earthquakes/query (9).csv")
file10 = pd.read_csv("2018Earthquakes/query (10).csv")
file11 = pd.read_csv("2018Earthquakes/query (11).csv")
file12 = pd.read_csv("2018Earthquakes/query (12).csv")
file13 = pd.read_csv("2018Earthquakes/query (13).csv")
file14 = pd.read_csv("2018Earthquakes/query (14).csv")

In [32]:
new_data_2018 = pd.concat([file1,file2,file3,file4,file5,file6,file7,file8,file9,file10,file11,file12,file13,file14])

In [35]:
file1 = pd.read_csv("2019Earthquakes/query (1).csv")
file2 = pd.read_csv("2019Earthquakes/query (2).csv")
file3 = pd.read_csv("2019Earthquakes/query (3).csv")
file4 = pd.read_csv("2019Earthquakes/query (4).csv")
file5 = pd.read_csv("2019Earthquakes/query (4).csv")
file6 = pd.read_csv("2019Earthquakes/query (6).csv")
file8 = pd.read_csv("2019Earthquakes/query (8).csv")
file9 = pd.read_csv("2019Earthquakes/query (9).csv")
file10 = pd.read_csv("2019Earthquakes/query (10).csv")
file11 = pd.read_csv("2019Earthquakes/query (11).csv")
file12 = pd.read_csv("2019Earthquakes/query (12).csv")
file13 = pd.read_csv("2019Earthquakes/query (13).csv")

In [36]:
new_data_2019 = pd.concat([file1,file2,file3,file4,file5,file6,file8,file9,file10,file11,file12,file13])

In [39]:
Earthquakes2015_2019 = pd.concat([new_data, new_data_2016, new_data_2017, new_data_2018, new_data_2019])

In [41]:
Earthquakes2015_2019.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2015-01-31T23:59:08.222Z,63.438000,-147.5497,8.600,0.70,ml,NaN,NaN,NaN,0.46,...,2019-05-21T03:01:44.003Z,"70km E of Cantwell, Alaska",earthquake,NaN,0.90,NaN,NaN,reviewed,ak,ak
1,2015-01-31T23:58:12.470Z,56.848900,-168.7847,19.270,3.00,ml,NaN,111.0,0.86500,0.55,...,2019-05-21T03:01:43.660Z,"95km ESE of City of Saint Paul, Alaska",earthquake,5.20,8.70,NaN,NaN,reviewed,us,ak
2,2015-01-31T23:47:11.839Z,62.643300,-152.0163,11.700,0.90,ml,NaN,NaN,NaN,0.74,...,2019-05-21T03:01:43.350Z,"104km WNW of Talkeetna, Alaska",earthquake,NaN,0.40,NaN,NaN,reviewed,ak,ak
3,2015-01-31T23:45:43.210Z,-29.422700,-68.1586,105.960,4.50,mb,NaN,114.0,1.77200,0.89,...,2015-05-02T14:06:02.040Z,"70km WSW of Chilecito, Argentina",earthquake,3.20,7.10,0.150,14.0,reviewed,us,us
4,2015-01-31T23:43:54.860Z,36.012667,-117.7915,-0.232,1.01,ml,14.0,57.0,0.02468,0.15,...,2016-03-11T04:30:09.923Z,"13km NE of Little Lake, CA",earthquake,0.37,31.61,0.142,9.0,reviewed,ci,ci

In [44]:
Earthquakes2015_2019.to_csv('USGS.csv', index=False)