In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os

In [2]:
earthquake = pd.read_csv('clean_data1.csv')
earthquake.head()

,Unnamed: 0,I_D,FLAG_TSUNAMI,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,EQ_PRIMARY,...,TOTAL_MISSING_DESCRIPTION,TOTAL_INJURIES,TOTAL_INJURIES_DESCRIPTION,TOTAL_DAMAGE_MILLIONS_DOLLARS,TOTAL_DAMAGE_DESCRIPTION,TOTAL_HOUSES_DESTROYED,TOTAL_HOUSES_DESTROYED_DESCRIPTION,TOTAL_HOUSES_DAMAGED,TOTAL_HOUSES_DAMAGED_DESCRIPTION,Depth
0,0,1,no info,-2150,0.0,0.0,0.0,0.0,0.0,7.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,2,Tsu,-2000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,3,no info,-2000,0.0,0.0,0.0,0.0,0.0,7.1,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,18.0
3,3,5877,Tsu,-1610,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
4,4,8,no info,-1566,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
earthquake.dtypes

Unnamed: 0                              int64
I_D                                     int64
FLAG_TSUNAMI                           object
YEAR                                    int64
MONTH                                 float64
DAY                                   float64
HOUR                                  float64
MINUTE                                float64
SECOND                                float64
EQ_PRIMARY                            float64
EQ_MAG_MW                             float64
EQ_MAG_MS                             float64
EQ_MAG_MB                             float64
EQ_MAG_ML                             float64
EQ_MAG_MFA                            float64
EQ_MAG_UNK                            float64
INTENSITY                             float64
COUNTRY                                object
STATE                                  object
LOCATION_NAME                          object
LATITUDE                              float64
LONGITUDE                             float64
REGION_CODE                           float64
DEATHS                                float64
DEATHS_DESCRIPTION                    float64
MISSING                               float64
MISSING_DESCRIPTION                   float64
INJURIES                              float64
INJURIES_DESCRIPTION                  float64
DAMAGE_MILLIONS_DOLLARS               float64
DAMAGE_DESCRIPTION                    float64
HOUSES_DESTROYED                      float64
HOUSES_DESTROYED_DESCRIPTION          float64
HOUSES_DAMAGED                        float64
HOUSES_DAMAGED_DESCRIPTION            float64
TOTAL_DEATHS                          float64
TOTAL_DEATHS_DESCRIPTION              float64
TOTAL_MISSING                         float64
TOTAL_MISSING_DESCRIPTION             float64
TOTAL_INJURIES                        float64
TOTAL_INJURIES_DESCRIPTION            float64
TOTAL_DAMAGE_MILLIONS_DOLLARS         float64
TOTAL_DAMAGE_DESCRIPTION              float64
TOTAL_HOUSES_DESTROYED                float64
TOTAL_HOUSES_DESTROYED_DESCRIPTION    float64
TOTAL_HOUSES_DAMAGED                  float64
TOTAL_HOUSES_DAMAGED_DESCRIPTION      float64
Depth                                 float64
dtype: object

In [4]:
# Assign X (data) and y (target)
X = earthquake.drop(["EQ_PRIMARY","FLAG_TSUNAMI","COUNTRY","STATE","LOCATION_NAME"], axis=1)
y = earthquake["EQ_PRIMARY"]
#y= earthquake["LOCATION_NAME"]
print(X.shape, y.shape)

(6150, 43) (6150,)

In [5]:
y= y.astype(int)

Split our data into training and testing

In [6]:
y.dtypes

dtype('int32')

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.33, random_state=42)

#X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

Create a Logistic Regression Model

In [8]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

Fit (train) or model using the training data

In [9]:
classifier.fit(X_train, y_train)

C:\Users\pragy\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\pragy\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\pragy\Anaconda3\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

Validate the model using the test data

In [10]:
print(f"Training Data Score(Magnitude): {classifier.score(X_train, y_train)}")
print(f"Testing Data Score(Magnitude): {classifier.score(X_test, y_test)}")

Training Data Score(Magnitude): 0.5475728155339806
Testing Data Score(Magnitude): 0.5241379310344828

In [11]:
magnitude_scores =pd.DataFrame({"Training Data Score(Magnitude)":{classifier.score(X_train, y_train)},
                                "Testing Data Score(Magnitude)": {classifier.score(X_test, y_test)}})
magnitude_scores

  Training Data Score(Magnitude) Testing Data Score(Magnitude)
0           {0.5475728155339806}          {0.5241379310344828}

Make predictions

In [12]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [7 5 7 6 6 0 0 6 6 0]
First 10 Actual labels: [7, 3, 6, 6, 7, 0, 0, 6, 5, 0]

In [13]:
magnitude = pd.DataFrame({"Magnitude Prediction": predictions, "Actual Magnitude": y_test}).reset_index(drop=True)
magnitude.head()

   Magnitude Prediction  Actual Magnitude
0                     7                 7
1                     5                 3
2                     7                 6
3                     6                 6
4                     6                 7

In [14]:
#magnitude.to_csv("magnitude.csv", index=False)

In [15]:
# Assign X (data) and y (target)
X1 = earthquake.drop(["TOTAL_INJURIES_DESCRIPTION","FLAG_TSUNAMI","COUNTRY","STATE","LOCATION_NAME"], axis=1)
y1 = earthquake["TOTAL_INJURIES_DESCRIPTION"]
print(X1.shape, y1.shape)

(6150, 43) (6150,)

In [16]:
y1= y1.astype(int)

In [17]:
from sklearn.model_selection import train_test_split

X_train1, X_test1, y_train1, y_test1 = train_test_split(X1,y1,test_size=0.33, random_state=42)

In [18]:
from sklearn.linear_model import LogisticRegression
classifier1 = LogisticRegression()
classifier1

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [19]:
classifier.fit(X_train1, y_train1)

C:\Users\pragy\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\pragy\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\pragy\Anaconda3\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [20]:
print(f"Training Data Score(Injuries): {classifier.score(X_train1, y_train1)}")
print(f"Testing Data Score(Injuries): {classifier.score(X_test1, y_test1)}")

Training Data Score(Injuries): 0.8606796116504855
Testing Data Score(Injuries): 0.8660098522167488

In [21]:
injuries_scores =pd.DataFrame({"Training Data Score(Injuries)":{classifier.score(X_train1, y_train1)},
                                "Testing Data Score(Injuries)": {classifier.score(X_test1, y_test1)}})
injuries_scores

  Training Data Score(Injuries) Testing Data Score(Injuries)
0          {0.8606796116504855}         {0.8660098522167488}

In [22]:
predictions = classifier.predict(X_test1)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test1[:10].tolist()}")

First 10 Predictions:   [0 1 1 0 4 0 0 1 0 0]
First 10 Actual labels: [0, 1, 2, 2, 4, 0, 0, 2, 0, 0]

In [23]:
injuries = pd.DataFrame({"Total Injuries Prediction": predictions, "Actual Injuries": y_test}).reset_index(drop=True)
injuries.head()

   Total Injuries Prediction  Actual Injuries
0                          0                7
1                          1                3
2                          1                6
3                          0                6
4                          4                7

In [24]:
# Assign X (data) and y (target)
X2 = earthquake.drop(["TOTAL_DAMAGE_MILLIONS_DOLLARS","FLAG_TSUNAMI","COUNTRY","STATE","LOCATION_NAME"], axis=1)
y2 = earthquake["TOTAL_DAMAGE_MILLIONS_DOLLARS"]

print(X2.shape, y2.shape)

(6150, 43) (6150,)

In [25]:
y2= y2.astype(int)

In [26]:
from sklearn.model_selection import train_test_split

X_train2, X_test2, y_train2, y_test2 = train_test_split(X2,y2,test_size=0.33, random_state=42)

In [27]:
from sklearn.linear_model import LogisticRegression
classifier2 = LogisticRegression()
classifier2

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [28]:
classifier.fit(X_train2, y_train2)

C:\Users\pragy\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\pragy\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\pragy\Anaconda3\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [29]:
print(f"Training Data Score: {classifier.score(X_train2, y_train2)}")
print(f"Testing Data Score: {classifier.score(X_test2, y_test2)}")

Training Data Score: 0.9478155339805825
Testing Data Score: 0.9280788177339901

In [30]:
damages_scores =pd.DataFrame({"Training Data Score(damages)":{classifier.score(X_train2, y_train2)},
                                "Testing Data Score(damages)": {classifier.score(X_test2, y_test2)}})
damages_scores

  Training Data Score(damages) Testing Data Score(damages)
0         {0.9478155339805825}        {0.9280788177339901}

In [31]:
predictions = classifier.predict(X_test2)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test2[:10].tolist()}")

First 10 Predictions:   [  0   0   0   0 100   0   0   0   0   0]
First 10 Actual labels: [0, 0, 0, 0, 1000, 0, 0, 0, 0, 0]

In [32]:
damage = pd.DataFrame({"Total Damage Prediction (Million Dollars)": predictions, "Actual Damage(Million Dollars)": y_test}).reset_index(drop=True)
damage.head()

   Total Damage Prediction (Million Dollars)  Actual Damage(Million Dollars)
0                                          0                               7
1                                          0                               3
2                                          0                               6
3                                          0                               6
4                                        100                               7

In [33]:
# Assign X (data) and y (target)
X3 = earthquake.drop(["TOTAL_DEATHS","FLAG_TSUNAMI","COUNTRY","STATE","LOCATION_NAME"], axis=1)
y3 = earthquake["TOTAL_DEATHS"]
print(X3.shape, y3.shape)

(6150, 43) (6150,)

In [34]:
y3= y3.astype(int)

In [35]:
from sklearn.model_selection import train_test_split

X_train3, X_test3, y_train3, y_test3 = train_test_split(X3,y3,test_size=0.33, random_state=42)

In [36]:
from sklearn.linear_model import LogisticRegression
classifier3 = LogisticRegression()
classifier3

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [37]:
classifier.fit(X_train3, y_train3)

C:\Users\pragy\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\pragy\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\pragy\Anaconda3\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [38]:
print(f"Training Data Score: {classifier.score(X_train3, y_train3)}")
print(f"Testing Data Score: {classifier.score(X_test3, y_test3)}")

Training Data Score: 0.7728155339805826
Testing Data Score: 0.7152709359605911

In [39]:
deaths_scores =pd.DataFrame({"Training Data Score(deaths)":{classifier.score(X_train3, y_train3)},
                                "Testing Data Score(deaths)": {classifier.score(X_test3, y_test3)}})
deaths_scores

  Training Data Score(deaths) Testing Data Score(deaths)
0        {0.7728155339805826}       {0.7152709359605911}

In [40]:
predictions = classifier.predict(X_test3)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test3[:10].tolist()}")

First 10 Predictions:   [  0   0   0   0 200   0   0   1   0   0]
First 10 Actual labels: [0, 1, 0, 0, 894, 0, 0, 1, 0, 0]

In [41]:
deaths = pd.DataFrame({"Predicted Total Deaths": predictions, "Actual Total Deaths": y_test}).reset_index(drop=True)
deaths.head()

   Predicted Total Deaths  Actual Total Deaths
0                       0                    7
1                       0                    3
2                       0                    6
3                       0                    6
4                     200                    7

In [42]:
# Assign X (data) and y (target)
X4 = earthquake.drop(["HOUSES_DESTROYED","FLAG_TSUNAMI","COUNTRY","STATE","LOCATION_NAME"], axis=1)
y4 = earthquake["HOUSES_DESTROYED"]
#y= earthquake["LOCATION_NAME"]
print(X4.shape, y4.shape)

(6150, 43) (6150,)

In [43]:
y4= y4.astype(int)

In [44]:
from sklearn.model_selection import train_test_split

X_train4, X_test4, y_train4, y_test4 = train_test_split(X4,y4,test_size=0.33, random_state=42)

In [45]:
from sklearn.linear_model import LogisticRegression
classifier4 = LogisticRegression()
classifier4

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [46]:
classifier.fit(X_train4, y_train4)

C:\Users\pragy\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\pragy\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\pragy\Anaconda3\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [47]:
print(f"Training Data Score: {classifier.score(X_train4, y_train4)}")
print(f"Testing Data Score: {classifier.score(X_test4, y_test4)}")

Training Data Score: 0.9021844660194175
Testing Data Score: 0.858128078817734

In [48]:
houses_destroyed_scores =pd.DataFrame({"Training Data Score(houses_destroyed)":{classifier.score(X_train4, y_train4)},
                                "Testing Data Score(houses_destroyed)": {classifier.score(X_test4, y_test4)}})
houses_destroyed_scores

  Training Data Score(houses_destroyed) Testing Data Score(houses_destroyed)
0                  {0.9021844660194175}                  {0.858128078817734}

In [49]:
predictions = classifier.predict(X_test4)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [0 0 0 0 0 0 0 0 0 0]
First 10 Actual labels: [7, 3, 6, 6, 7, 0, 0, 6, 5, 0]

In [50]:
houses_destroyed = pd.DataFrame({"House Destroyed Prediction ": predictions, "Actual House Destroyed": y_test}).reset_index(drop=True)
houses_destroyed.head()

   House Destroyed Prediction   Actual House Destroyed
0                            0                       7
1                            0                       3
2                            0                       6
3                            0                       6
4                            0                       7

In [51]:
allprediction = pd.concat([magnitude, injuries,damage, deaths, houses_destroyed], axis=1)

allprediction.head()

,Magnitude Prediction,Actual Magnitude,Total Injuries Prediction,Actual Injuries,Total Damage Prediction (Million Dollars),Actual Damage(Million Dollars),Predicted Total Deaths,Actual Total Deaths,House Destroyed Prediction,Actual House Destroyed
0,7,7,0,7,0,7,0,7,0,7
1,5,3,1,3,0,3,0,3,0,3
2,7,6,1,6,0,6,0,6,0,6
3,6,6,0,6,0,6,0,6,0,6
4,6,7,4,7,100,7,200,7,0,7

In [56]:
allprediction.to_csv("allprediction.csv", index=False)

In [54]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.905911330049261

In [55]:
sorted(zip(rf.feature_importances_, earthquake), reverse=True)

[(0.24734439531582889, 'EQ_PRIMARY'),
 (0.0737338920118959, 'EQ_MAG_ML'),
 (0.054528249762449015, 'TOTAL_DAMAGE_DESCRIPTION'),
 (0.054189696115029724, 'Unnamed: 0'),
 (0.04798866774922076, 'EQ_MAG_MW'),
 (0.04653136894495368, 'FLAG_TSUNAMI'),
 (0.045622288335837376, 'I_D'),
 (0.044978013134321856, 'INTENSITY'),
 (0.04094826296920515, 'MINUTE'),
 (0.03379479849521682, 'SECOND'),
 (0.03350382659964039, 'EQ_MAG_UNK'),
 (0.029165155317646078, 'HOUR'),
 (0.02736777187640617, 'COUNTRY'),
 (0.02584415060402334, 'DAY'),
 (0.020127190497671924, 'EQ_MAG_MFA'),
 (0.01975022618633559, 'MONTH'),
 (0.015925580117387497, 'YEAR'),
 (0.015099320636232785, 'TOTAL_MISSING'),
 (0.014083164362844638, 'MISSING'),
 (0.012259313165909742, 'STATE'),
 (0.009965896373040139, 'DAMAGE_DESCRIPTION'),
 (0.008744828629202513, 'HOUSES_DESTROYED'),
 (0.0080731707255715, 'LOCATION_NAME'),
 (0.007364637200054202, 'TOTAL_INJURIES'),
 (0.006909441484038144, 'HOUSES_DAMAGED_DESCRIPTION'),
 (0.006592603353088853, 'REGION_CODE'),
 (0.006209578289638381, 'INJURIES'),
 (0.006101406444489972, 'DEATHS'),
 (0.005256683770925022, 'TOTAL_MISSING_DESCRIPTION'),
 (0.005200509629013618, 'TOTAL_DEATHS'),
 (0.004391806048042624, 'MISSING_DESCRIPTION'),
 (0.004319478258453446, 'EQ_MAG_MS'),
 (0.003528538212269242, 'DAMAGE_MILLIONS_DOLLARS'),
 (0.0035185035158989612, 'TOTAL_DAMAGE_MILLIONS_DOLLARS'),
 (0.0026983526591532942, 'DEATHS_DESCRIPTION'),
 (0.0024781208553673545, 'TOTAL_DEATHS_DESCRIPTION'),
 (0.002389198112411833, 'INJURIES_DESCRIPTION'),
 (0.0022394113744575216, 'TOTAL_INJURIES_DESCRIPTION'),
 (0.0006208496865985181, 'EQ_MAG_MB'),
 (0.00020475722760143002, 'HOUSES_DESTROYED_DESCRIPTION'),
 (0.0001708440737113344, 'HOUSES_DAMAGED'),
 (0.00017079701242655006, 'LONGITUDE'),
 (6.52548664883831e-05, 'LATITUDE')]